
$firstLetterColor:#34c6eb;

.Details{
  #Details1
  {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  #Details1::first-letter{
      font-style: italic;
      font-size: 30px;
      color: $firstLetterColor;
    }

  #Details2
  {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 30px;
    margin-top:5px;
    margin-bottom: 5px;
  }
  #Details2::first-letter
  {
      font-style: italic;
      font-size: 30px;
      color: $firstLetterColor;
    }
}

.more
{
  @extend .Details;
}
