
$firstLetterColor:#34c6eb;
$font:Verdana, Arial, Helvetica, sans-serif

.Details{
  #Details1
  {
    font-family:$font;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
  &::first-letter{
      font-style: italic;
      font-size: 30px;
      color: $firstLetterColor;
    }
}
  #Details2
  {
    font-family:$font;
    margin: 30px;
    margin-top:5px;
    margin-bottom: 5px;
  &:first-letter
  {
      font-style: italic;
      font-size: 30px;
      color: $firstLetterColor;
    }
  }
}

.more
{
  @extend .Details;
}
