.jumbotron{
  padding-top: 15px;
  padding-bottom: 15px;
  background-image: url('images/threads.jpg');
  background-size: cover;
  background-repeat: round;
  }

.centered > .display-3{
  color:#43268c;
  font-style: italic;
  font-family:serif;
  font-weight: bold;
  text-decoration:underline;
  margin-bottom: 5px;
}
small{
  color:black;
  font-size: 15px;
  margin-top:5px;
}
/* Centered text */
.centered {
  text-align: center;
  /* top: 50%; */
  /* left: 50%; */
   /* right: :50%; */
  /* bottom: 50%; */
 /* transform: translate(-50%, -50%); */
}
/* testing */

#Details1::first-letter {
   font-style: italic;
   font-size: 30px;
   color: #34c6eb;
 }
#Details1
{
   font-family: Verdana, Arial, Helvetica, sans-serif;
   margin-left: 30px;
   margin-top: 20px;
   margin-bottom: 5px;
}
#Details2::first-letter {
   font-style: italic;
   font-size: 30px;
   color:#34c6eb;
 }
#Details2
{
   font-family: Verdana, Arial, Helvetica, sans-serif;
   margin: 30px;
   margin-top:5px;
   margin-bottom: 5px;
}

@media screen and (max-width: 500px) {
 #Details1{
    display: none;
  }
}


h3
{
text-decoration: underline;
color: #34c6eb;
margin: 30px;
 margin-bottom: 5px;

}
ul > li
{
  font-size: 20px;
  font-family: sans-serif;
  margin-left: 30px;
}
input[type="text"]
{
  background-color: #34c6eb;
  }

a#a1:hover
  {
    background-color: yellow;

  }
a#a2::before
  {
      /* background-color: yellow; */
      content:"Click here for "
  }

    /* a:visited
     {
  color: pink;
} */
  footer{
    text-align: center;
    margin-top: 40px;
  }
